[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
pycodestyle = "*"
pytest = "*"
assertpy = "*"
pyflakes = "*"
bandit = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
